# 環境変数（超重要）
.env
.env.*

# Node.js系
node_modules/
.pnpm-store/

# ビルド結果
dist/
build/
out/
.vite/

# TypeScript
*.tsbuildinfo

# テスト
coverage/

# webpack
.webpack/

# ログ
*.log

# OS系
.DS_Store

# Obsidian
.obsidian/
